#addWorkPane{
	-fx-pref-height: 500px;
	-fx-pref-width: 350px;
}


#addWorkLabel{
	-fx-pref-width: 250px;
	-fx-font-size: 20px;
}

#workDateLabel{
    -fx-alignment: BASELINE_RIGHT;
    -fx-pref-width: 100px;
}

#workNameLabel{
	-fx-alignment: BASELINE_RIGHT;
	-fx-pref-width: 100px;
}

#workNumLabel{
	-fx-alignment: BASELINE_RIGHT;
	-fx-pref-width: 100px;
}

#workDetailNoLabel{
	-fx-alignment: BASELINE_RIGHT;
	-fx-pref-width: 100px;
}

#moneyLabel{
	-fx-alignment: BASELINE_RIGHT;
	-fx-pref-width: 100px;
}

#workNoField{
    -fx-font-size: 10px;
}

#workNoLabel{
    -fx-alignment: BASELINE_RIGHT;
    -fx-pref-width: 100px;
}

#workNameField{
	-fx-pref-width: 150px;
	-fx-text-fill: BLACK;
}

#unitPriceField{
	-fx-pref-width: 150px;
}

#confirmBtn{
	-fx-pref-height: 10px;
	-fx-pref-width: 60px;
}

#cancelBtn{
	-fx-pref-height: 10px;
	-fx-pref-width: 60px;
}

#unitLabel{
	-fx-alignment: BASELINE_RIGHT;
	-fx-pref-width: 100px;
}

#unitPriceLabel{
	-fx-alignment: BASELINE_RIGHT;
	-fx-pref-width: 100px;
}

#statusLabel{
    -fx-alignment: BASELINE_RIGHT;
    -fx-pref-width: 100px;
}

#unitCbox{
	-fx-pref-width: 150px;
}

#statusCbox{
    -fx-pref-width: 150px;
}



