
/*设置表格头高度*/
.table-view > .column-header-background{
    -fx-pref-height: 40.0px;
    -fx-pref-width: 75.0px;
}

/*设置每一列内容居中，每一行高度*/
.table-row-cell{
    -fx-cell-size: 45.0px;
    -fx-alignment: center;
}

/*设置每一列内容居中*/
#dailyTableView .table-column{
  -fx-alignment: center-left;
}

#dailyHbox{
	-fx-pref-height: 40.0px;
	-fx-padding: 5 0 5 0;
	-fx-spacing: 100px;
}

#dailyLabel{
   -fx-font-size: 15.0px;
   -fx-pref-height: 40.0px;
}

#searchHBox{
	-fx-alignment: center;
}

#searchField{
	-fx-spacing: 10px;
}

#operationHBox{
	-fx-alignment: center-right;
	-fx-spacing: 10px;
}

#selectCol{
	-fx-alignment: center ;
}
