.coeltentPanel{
    -fx-background-color: #5789DC;
    -fx-border-color: red
}

#userManageButton{
	-fx-alignment: center;
	-fx-font-size: 20px;
}

#dailyManageButton{
	-fx-alignment: center;
	-fx-font-size: 20px;
}

#workManageButton{
    -fx-alignment: center;
    -fx-font-size: 20px;
}

#workDetailManageButton{
    -fx-alignment: center;
    -fx-font-size: 20px;
}
